@use '../abstracts/index' as *;

.bigtext {
  font-family: 'Steelfish', sans-serif;
  text-transform: uppercase;
  font-size: 256px;
  line-height: 0.744;
  margin-bottom: 20px;

  @include tablet {
    font-size: 320px;
  }
}