@use '../abstracts/index' as *;

.copybutton {
  border: none;
  background-color: #761629;
  width: 50px;
  height: 50px;
  border-radius: 16px;
  cursor: pointer;
  padding: unset;
  position: relative;
  display: flex;
  align-items: center;
  transition: all 0.2s ease;

  .containercopiado {
    display: flex;
    align-items: center;
    gap: 8px;
    width: max-content;
    position: absolute;
    left: 12px;
    transform: scaleX(0) translateX(0);
  }

  &__icon {
    max-width: 26px;
    max-height: 26px;
    transition: all 0.2s ease;

    &--copy {
      width: 23px;
      position: absolute;
      left: 13.5px;
      opacity: 1;
    }

    &--check {
      transform: rotateY(180deg);
      opacity: 0;
    }
  }

  &__text {
    line-height: 0.6;
    margin-top: 6px;
    opacity: 0;
    transform: scaleX(0) rotateY(90deg);
    transition: all 0.2s ease;
  }
}

.copybutton.isClicked {
  width: 131px;
  background-color: $rojo;
  
  .containercopiado {
    left: 50%;
    transform: translateX(-50%);
  }

  .copybutton__icon {
    &--copy {
      opacity: 0;
      transform: rotateY(180deg);
    }

    &--check {
      opacity: 1;
      transform: rotateY(360deg);
    }
  }

  .copybutton__text {
    opacity: 1;
    transform: scaleX(1) rotateY(0deg);
  }
}