@use '../abstracts/index' as *;

.copybutton {
  border: none;
  padding: unset;
  cursor: pointer;
  background-color: #761629;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 10.24px;
  transition: all 0.2s ease;
  position: relative;

  &:hover {
    background-color: $rojo;
  }

  &__icon {
    transition: all 0.2s ease;
  }

  &__icon--copy {
    opacity: 1;
    max-width: 14.72px;
    max-height: 16.64px;
    position: absolute;
    left: 8.64px;
  }

  &__icon--check {
    opacity: 0;
    max-width: 11.7px;
    max-height: 9px;
    position: absolute;
    left: 10.15px;
    transform: rotateY(180deg);
  }

  &__text {
    transform: scaleX(0) rotateY(90deg);
    opacity: 0;
    line-height: 0.8;
    margin-top: 6px;
    position: absolute;
    left: 26.96px;
    transition: all 0.2s ease;
  }

  @include tablet {
    width: 40px;
    height: 40px;
    border-radius: 12.8px;

    &__icon--copy {
      max-width: 18.4px;
      max-height: 20.8px;
      left: 10.8px;
    }

    &__icon--check {
      max-width: 16px;
      max-height: 12px;
      left: 12.8px;
    }

    &__text {
      left: 35.2px;
      margin-top: 6px;
    }
  }

  @include desktop {
    width: 50px;
    height: 50px;
    border-radius: 16px;

    &__icon--copy {
      max-width: 23px;
      max-height: 26px;
      left: 13.5px;
    }

    &__icon--check {
      max-width: 21px;
      max-height: 15px;
      left: 16px;
    }

    &__text {
      left: 45px;
      font-size: $h6;
    }
  }
}

.copybutton.isClicked {
  background-color: $rojo;
  width: 102.3px;
  gap: 5.12px;
  cursor: auto;

  .copybutton__icon--copy {
    opacity: 0;
    transform: rotateY(180deg);
  }

  .copybutton__icon--check {
    opacity: 1;
    transform: rotateY(360deg);
  }

  .copybutton__text {
    transform: scaleX(1) rotateY(0deg);
    opacity: 1;
  }

  @include tablet {
    width: 113px;
  }

  @include desktop {
    width: 143px;
  }
}