@use '../abstracts/mixins' as *;

.email {
  display: flex;
  align-items: center;
  padding: 24px;
  background-color: #333;
  max-width: 354px;
  max-height: 60px;
  border-radius: 4px;

  &__img {
    height: 100%;
  }

  @include desktop {
    max-width: 470px;
  }
}