@use '../abstracts/mixins' as *;

.email {
  display: flex;
  padding: 24px;
  width: fit-content;
  background-color: #333;
  border-radius: 4px;
  max-width: 288px;

  @include tablet {
    max-width: 346px;
  }

  @include desktop {
    max-width: 421px;
  }
}