@use '../abstracts/variables' as *;

.iconlink-container {
  display: flex;
  &:nth-child(1) {
    margin-right: 3.358rem;
  }

  .icon-container {
    margin-right: 0.839rem;
    width: 2.378rem;
  }

  .icon-text {
    color: $blanco;
    font-size: 1.749rem;
    display: flex;
    align-items: center;
  }
}