.images {
  display: flex;
  // width: 408px;
  // height: 193.498px;
  position: relative;
  aspect-ratio: 408 / 193.498;
  background-color: aquamarine;

  &__image {
    position: absolute;
    width: 39.043%;
    height: 67.38%;
  }

  &__image--1 {
    transform: rotate(-20deg);
    left: 16px;
    top: 24px;
  }

  &__image--2 {
    transform: rotate(4deg);
    left: 132px;
    top: 4px;
    z-index: 1;
  }

  &__image--3 {
    transform: rotate(16deg);
    right: 16px;
    top: 44px;
  }
}