@use '../abstracts/variables' as *;

.imagecontainer {
  // width: 159.296px;
  // height: 130.378px;
  width: 100%;
  height: 100%;
  padding: 2.941px;
  background-color: $blanco;

  &__image {
    width: 100%;
    height: 100%;
    background-color: #a9a9a9;
  }
}