@use '../abstracts/index' as *;

.listitem {
  padding: 12px 8px; //
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all calc($at / 4) linear;

  &.active {
    background-color: $bg-blanco; //
  }

  @include tablet {
    padding: 20px 12px;
  }

  @include desktop {
    background-color: unset;
    backdrop-filter: unset;
    padding: unset;
    border-radius: unset;
    display: unset;

    &.active {
      background-color: unset;
      backdrop-filter: unset;
    }
  }
}