@use '../abstracts/variables' as *;

.livedemobutton {
  background-color: $rojo;
  width: 48px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  cursor: pointer;
  
  &__icon {
    width: 9.846px;
    height: 16px;
  }
}