@use '../abstracts/index' as *;

.livedemobutton {
  background-color: $rojo;
  width: 39px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 81.25px;
  cursor: pointer;
  
  &__icon {
    width: 8px;
    height: 13px;
  }

  @include desktop {
    width: 48px;
    height: 32px;

    &__icon {
      width: 9.846px;
      height: 16px;
    } 
  }
}