@use '../abstracts/variables' as *;

.button {
  border: none;
  background-color: $rojo;
  padding: 0;
  width: 4.5rem;
  height: 3rem;
  border-radius: 100rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon-container {
    width: 1.34rem;
    padding-left: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}