@use '../abstracts/variables' as *;

.navbar {
  background-color: rgba($color: #fff, $alpha: 0.1);
  padding: 3.2rem;
  border-radius: 100rem;

  &__logo {
    display: none;
  }
}

.list {
  display: flex;
  justify-content: space-between;

  &__anchor {
    color: $blanco;
    // leading-trim: both;
    // text-edge: cap;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}