@use '../abstracts/index' as *;

.navlink {
  font-size: $xs;
  cursor: pointer;
  line-height: 0.4;
  margin-top: 4px;

  @include phone {
    font-size: $s;
  }

  @include tablet {
    font-size: $p;
  }

  @include desktop {
    font-size: $h6;
  }
}