@use '../abstracts/index' as *;

.navlink {
  width: fit-content;
  padding: 18px 12px 16px;
  line-height: 0.3;
  // margin-top: 6px;
  border-radius: 100px;
  transition: all calc($at / 4);
  cursor: pointer;

  &.active {
    // background-color: $bg-blanco;
    text-decoration: underline;
  }

  @media (max-width: 419px) {
    font-size: $ssmall;
  }

  @include phone {
    &.active {
      background-color: $bg-blanco;
      text-decoration: none;
    }
  }

  @include desktop {
    padding: 0;
    margin-top: 4px;

    &.active {
      background-color: $negro;
      text-decoration: underline;
    }
  }
}