@use '../abstracts/index' as *;

.pointer {
  background-color: $rojo;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 10.24px;

  &__icon {
    max-width: 16.64px;
    max-height: 16.64px;
  }

  @include desktop {
    width: 40px;
    height: 40px;
    border-radius: 12.8px;

    &__icon {
      max-width: 20.8px;
      max-height: 20.8px;
    }
  }
}