@use '../abstracts/variables' as *;

.project-image-container {
  width: 15.93rem;
  height: 13.04rem;
  padding: 0.29rem;
  background-color: $blanco;

  .image-container {
    width: 100%;
    height: 100%;
    background-color: $gris;
  }
}