.project-container {

  .project-template-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .project-images {
    width: 40.8rem;
  }

  .project-description {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }

  .techs-container {
    display: flex;
    gap: 0.8rem;
  }
}