.project-title-container {
  display: flex;

  .icon-container {
    width: 4.1rem;
    height: 3.8rem;
    margin-right: 0.8rem;
  }

  .project-title {
    font-family: 'Steelfish';
    font-size: 3.13rem;
    height: 3.8rem;
    display: flex;
    align-items: center;
  }
}