@use '../abstracts/index' as *;

.sectiontitle {
  font-family: 'Steelfish', sans-serif;
  font-size: $h3;
  line-height: 0.8;
  margin-bottom: 2px;

  @include tablet {
    font-size: $h2;
    line-height: 0.78;
    margin-bottom: 3px;
  }

  @include desktop {
    font-size: $h1;
    line-height: 0.74;
    margin-bottom: 5px;
  }
}