@use '../abstracts/index' as *;

.sectionsubtitle {
  font-family: 'Steelfish', sans-serif;
  font-size: $h3small;
  line-height: 0.8;
  margin-bottom: 2px;
  width: fit-content;

  @include desktop {
    font-size: $h3;
  }
}