@use '../abstracts/mixins' as *;

.socialnetwork {
  display: flex;
  align-items: center;
  gap: 8px;

  &__description {
    line-height: 0.4;
    margin-top: 6px;
  }
  
  &:hover {
    text-decoration: underline;
  }
}