@use '../abstracts/variables' as *;

.socialnetwork {
  display: flex;
  align-items: center;
  gap: 12px;
  width: fit-content;

  &__icon {
    width: 27.001px;
    height: 27px;
    aspect-ratio: 27.00/27.00;
  }

  &__anchor {
    font-size: 20px;
    font-weight: 300;
    color: $blanco;
  }
}