@use '../abstracts/variables' as *;

.tech {
  width: fit-content;
  padding: 16px;
  background-color: $bg-blanco;
  backdrop-filter: $bg-blur;
  border-radius: 10.24px;

  &__description {
    font-size: $h6;
    line-height: 0.44;
    margin-top: 7px;
  }

  &--sm {
    border-radius: 8.192px;

    .tech__description {
      font-size: $p;
      margin-top: 4.6px;
    }
  }
}