@use '../abstracts/variables' as *;

.tech {
  font-size: $h6;
  background-color: rgba($color: $blanco, $alpha: 0.12);
  width: fit-content;
  padding: 16px;
  backdrop-filter: blur(6px);
  border-radius: 10.24px;
  line-height: 100%;

  &--sm {
    font-size: $p;
    border-radius: 8.192px;
  }
}