@use '../abstracts/variables' as *;

.tech {
  width: fit-content;
  padding: 16px;
  background-color: $bg-blanco;
  backdrop-filter: $bg-blur;
  border-radius: 8px;

  &__description {
    line-height: 0.4;
    margin-top: 6px;
  }
}