@use '../abstracts/variables' as *;

.titleproject {
  display: flex;
  gap: 8px;
  align-items: center;
  
  &__icon {
    width: 41px;
    height: auto;
  }

  &__body {
    font-family: 'Steelfish';
    font-size: 31.25px;
  }
}