// Fonts
@font-face {
  font-family: 'Steelfish';
  src: url('../assets/fonts/SteelfishRg.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cocomat';
  src: url('../assets/fonts/CocomatPro-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

// Font Size
$h1: 61.04px;
$h2: 48.83px;
$h3: 39.06px;
$h4: 31.25px;
$h5: 25px;
$h6: 20px;
$p: 16px;

// Colors
$rojo: #dc143c;
$negro: #171717;
$gris: #d9d9d9;
$blanco: #fff;
$bg-blanco: rgba($color: $blanco, $alpha: 0.12);
$bg-blur: blur(6px);

// Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Animation Timing

$at: 1s;
$ad: 0.5s;

// Keyframes

@keyframes centerX-from-right {
  from {
    transform: translateX(calc(100% + 20px));
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes centerX-from-left {
  from {
    transform: translateX(calc(-100% - 20px));
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}