// Fonts
@font-face {
  font-family: 'Steelfish';
  src: url('../assets/fonts/SteelfishRg.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cocomat';
  src: url('../assets/fonts/CocomatLight.ttf');
  font-weight: normal;
  font-style: normal;
}

// Colors
$rojo: #dc143c;
$negro: #171717;
$gris: #d9d9d9;