@use '../abstracts/mixins' as *;

.contactsection {
  gap: 72px;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }

  &__email {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  &__networks {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 354px;
    width: 100%;
    margin: 0 auto;
  }

  @include tablet {
    &__info {
      margin: 0 auto;
    }

    &__email {
      flex-direction: row;
      margin-left: 66px;
    }

    &__networks {
      margin-left: 66px;
    }
  }
}