@use '../abstracts/index' as *;

.footer {
  border-top: solid 1px $bg-blanco;
  background-color: $negro;
  display: flex;
  justify-content: space-between;
  padding: 40px 10px;
  position: relative;

  &__totop {
    position: absolute;
    top: -42px;
    left: 50%;
    transform: translateX(-50%);

    &.animate {
      animation: animate-arrow calc($at / 2) infinite alternate ease-in;
    }
  }

  &__aurelioGareca,
  &__frontendDeveloper {
    line-height: 0.4;
    margin-top: 5px;
  }

  &__frontendDeveloper {
    color: $rojo;
  }

  @include phone {
    padding: 40px 16px;
  }

  @include tablet {
    padding: 40px 20px;
  }
  
  @include desktop {
    padding: 40px 32px;
  }

  @include fulldesktop {
    padding: 40px calc((100vw - 1049px) / 2);
  }
}

@keyframes animate-arrow {
  to {
    top: -50px;
  }
}