@use '../abstracts/index' as *;

.footer {
  border-top: solid 1px $blanco;
  background-color: $negro;
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 10px;
  gap: 16px;
  position: relative;
  margin-top: 144px;

  &__totop {
    position: absolute;
    top: -42px;
    left: 50%;
    transform: translateX(-50%);

    &.animate {
      animation: animate-arrow calc($at / 2) infinite alternate ease-in;
    }
  }

  &__aurelioGareca,
  &__frontendDeveloper {
    line-height: 0.4;
    margin-top: 6px;
  }

  &__frontendDeveloper {
    color: $rojo;
  }

  @include phone {
    padding: 20px 16px;
  }

  @include tablet {
    padding: 20px;
  }

  @include desktop {
    // width: 100vw;
    // margin-left: -32px;
    padding: 20px 32px;
  }

  @include fulldesktop {
    // margin-left: calc((1049px - 100vw) / 2);
    padding: 20px calc((100vw - 1049px) / 2);
  }
}

@keyframes animate-arrow {
  to {
    top: -50px;
  }
}