@use '../abstracts/index' as *;

.hero {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;

  &__salute {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: fit-content;
    transform: translateX(calc(-100% - 20px));
    animation: animate-salute $at forwards;
    animation-delay: $ad;
  }

  &__holaSoy, &__aurelioGareca {
    line-height: 0.37;
    margin-top: 12px;
    font-size: $h4;
  }

  &__aurelioGareca {
    color: $rojo;

    span {
      color: $blanco;
    }
  }

  &__role {
    display: flex;
    flex-direction: column;
    gap: 32px;
    transform: translateX(calc(100% + 20px));
    animation: animate-role calc($at * 8) infinite linear;
    animation-delay: calc($ad * 2);
    animation-play-state: paused;

    &.animate {
      animation-play-state: running;
    }
  }

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    gap: unset;

    &__salute {
      order: 1;
      align-items: end;
      position: absolute;
      right: 0;
      transform: translateX(calc(100% * 2));
    }

    &__holaSoy, &__aurelioGareca {
      font-size: $h5;
      text-align: right;
    }

    &__role {
      transform: translateX(calc(-100% * 1.25));
      animation: animate-salute calc($at * 2) forwards;
      animation-delay: calc($ad * 2);
    }
  }
}

@keyframes animate-salute {
  to {
    transform: translateX(0);
  }
}

@keyframes animate-role {
  to {
    transform: translateX(calc(-897.13px));
  }
}