@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.hero {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__salute {
    font-size: 48.83px;

    span {
      color: $rojo;
    }
  }
}

.role {
  display: flex;
  flex-direction: column;
  gap: 25.661px;

  &__frontend,
  &__developer {
    font-family: 'Steelfish';
    text-transform: uppercase;
    font-size: 305.2px;
    line-height: 0.74;
    margin-bottom: 25.661px;
    // transform: translateX(100vw); //

    &.animate {
      // animation: hero-span 8s infinite linear;
    }
  }
}

@include tablet {
  .hero {
    &__salute {
      font-size: 34.156px;
    }
  }
}

@keyframes hero-span {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(-256vw);
  }
}