@use '../abstracts/index' as *;

.hero {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;

  &__salute {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: fit-content;
    transform: translateX(calc(-100% - 20px));
    animation: animate-salute $at forwards;
    animation-delay: $ad;
  }

  &__holaSoy, &__aurelioGareca {
    line-height: 0.4;
    margin-top: 9px;
    font-size: $h5;
  }

  &__aurelioGareca {
    color: $rojo;
  }

  &__aurelioGareca > span {
    color: $blanco;
  }

  &__role {
    display: flex;
    flex-direction: column;
    gap: 32px;
    transform: translateX(calc(100% + 20px));
    animation: animate-role calc($at * 8) infinite linear;
    animation-delay: calc($ad * 2);
    animation-play-state: paused;

    &.animate {
      animation-play-state: running;
    }
  }

  @include desktop {
    min-width: 944px;

    &__salute {
      transform: translateX(calc(-100% - 40px));
    }

    &__role {
      transform: translateX(calc(100% + 40px));
      animation: animate-salute $at forwards;
      animation-delay: calc($ad * 2);
    }
  }

  @include full {
    max-width: 996px;
    width: 100%;
    margin: 0 auto;

    &__salute {
      position: absolute;
      right: 0;
      transform: translateX(calc(100% * 2));
    }

    &__holaSoy, &__aurelioGareca {
      text-align: right;
    }

    &__role {
      transform: translateX(calc(-100% * 1.25));
    }
  }
}

@keyframes animate-salute {
  to {
    transform: translateX(0);
  }
}

@keyframes animate-role {
  to {
    transform: translateX(calc(-897.13px));
  }
}