@use '../abstracts/index' as *;

.navbar {
  display: flex;
  justify-content: space-between;
  transform: translateY(-86.4px);
  animation: animate-navbar $at forwards;
  
  z-index: 1;
  position: fixed;
  width: calc(100% - 32px);
  top: 16px;
  transition: all calc($at / 4);
  
  &.hidden {
    top: -86.4px;
  }
  
  &__logo {
    display: none;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 8px;
    border-radius: 100px;
    background-color: $bg-blanco;
    backdrop-filter: $bg-blur;
  }

  @include tablet {
    top: 20px;

    &__list {
      width: 541px;
      margin: 0 auto;
    }
  }

  @include desktop {
    align-items: center;
    max-width: 996px;
    width: 100%;
    margin: 0 auto;
    position: unset;

    &__logo {
      display: unset;
    }

    &__list {
      background-color: unset;
      backdrop-filter: unset;
      padding: unset;
      margin: unset;
      justify-content: unset;
      width: unset;
      height: unset;
      padding: unset;
      gap: 32px;
    }
  }
}

@keyframes animate-navbar {
  to {
    transform: translateY(0);
  }
}