@use '../abstracts/mixins' as *;

.projectsarray {
  display: flex;
  flex-direction: column;
  gap: 36px;
  width: 100%;

  @include desktop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}