@use './abstracts/index' as *;

// Base
@use 'base';

// Components
@use 'components';

// Layout
@use 'layout';

.body {
  overflow: hidden;
  padding: 16px 16px 0;
  display: flex;
  flex-direction: column;
  // gap: 89px;
  // backdrop-filter: blur(40px);
  // animation: bg-blur $at forwards linear;

  &__main {
    display: flex;
    flex-direction: column;
    gap: 160px;
  }

  @include tablet {
    padding: 20px 20px 0;
    gap: 82px
  }

  @include desktop {
    padding: 40px 0 0;
    
    &__main {
      max-width: 1062px;
      margin: 0 auto;
    }
  }
}

.center-from-left {
  opacity: 0;

  &.animate {
    animation: centerX-from-left $at forwards;
  }
}

.center-from-right {
  opacity: 0;

  &.animate {
    animation: centerX-from-right $at forwards;
  }
}

@keyframes bg-blur {
  to { backdrop-filter: blur(0); }
}