@use './abstracts/index' as *;

// Base
@use 'base';

// Components
@use 'components';

// Layout
@use 'layout';

.body {
  overflow: hidden;
  position: relative;
  // padding: 0 10px;

  &__navbar {
    z-index: 1;
  }

  &__content {
    margin-top: 129px;
    display: flex;
    flex-direction: column;
    gap: 144px;
  }

  &__main {
    width: calc(100% - 20px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 144px;
  }

  @include phone {
    &__main {
      width: calc(100% - 32px);
    }
  }

  @include tablet {
    &__main {
      width: calc(100% - 40px);
    }
  }

  @include desktop {
    &__main {
      width: calc(100% - 64px);
    }
  }

  @include fulldesktop {
    &__main {
      width: 1049px;
    }
  }
}

.center-from-left {
  opacity: 0;

  &.animate {
    animation: centerX-from-left $at forwards;
  }
}

.center-from-right {
  opacity: 0;

  &.animate {
    animation: centerX-from-right $at forwards;
  }
}